<p>Someone has RSVPed for your wedding. :)</p>

<p>
  <strong>Name:</strong>
  <%= @rsvp.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= mail_to @rsvp.email, @rsvp.email %>
</p>

<p>
  <% if @rsvp.attending? %>
    <strong>Yes</strong>, they will be attending. :)
  <% else %>
    <strong>No</strong>, they will <strong>not</strong> be attending. :(
  <% end %>
</p>

<p>
  <strong># attending:</strong>
  <%= pluralize @rsvp.guest_count, 'guest' %>
</p>

<p>
  <strong>Song suggestion:</strong>
  <% if (song_suggestion=@rsvp.song_suggestion).present? %>
    <%= @rsvp.song_suggestion %>
  <% else %>
    <em>none</em>
  <% end %>
</p>
