/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require devise
 *= require gifts
 *= require navigation
 *= require pages
 *= require registrations
 *= require rsvps
 *= require slick
 *= require style
 *= require_self
 */

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Handlee);
@import url(http://fonts.googleapis.com/css?family=Acme);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */

*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body, p {
  font-family: 'Shadows into Light Two', sans-serif;
  font-size: 1.5em;
}

h1, h2, h3, h4 {
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 40px;
}
