@import "variables";

#gifts-list-wrapper {
  margin-bottom: 60px;
}

.gift-image, .wanderable-link {
  background: #ffffff;
  border: 1px solid #999999;
  display: block;
}

.gifts-list {
  list-style: none;
  padding-left: 0;

  .contribute-link {
    font-size: 30px;
  }

  .gift-details {
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .gift-thermometer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .gift-image {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 8px;
  }

  li {
    & + li {
      margin-top: 40px;
      border-top: 1px solid darken($sunset-sky-color, 20%);
      padding-top: 40px;
    }
  }
}

.thermometer {
  position: relative;
  border: 1px solid #aaa;
  width: 350px;
  height: 20px;
  border-radius: $thermometer_roundness;

  .progress {
    position: absolute;
    bottom: 0;
    left: -1px;
    height: 100%;
    border-radius: $thermometer_roundness;
    width: 0;
    background: $mercury_color;

    .amount {
      display: inline-block;
      font-weight: bold;
      bottom: 0;
      position: relative;
      left: -4em;
    }
  }

  .track {
    top: -1px;
    border: 1px solid #aaa;
    position: relative;
    background-position: 0 -1px;
    width: 100%;
    left: 0;
    height: 20px;
    margin: 0 auto;
    background: white;
    background: linear-gradient(to right, #aaa 0%, rgb(255,255,255) 10%);
    background-size: 5% 100%;
    border-radius: $thermometer_roundness;
  }
}

