.wanderable-link{
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 12px;
}

.gifts-list {
  list-style: none;
  padding-left: 0;

  .gift-details {
    float: left;
    font-weight: bold;
    font-size: 20px;
    
      & > a{color: #FFFFFF;}


    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .gift-thermometer {
    float: right;
    margin-right: 40px;
  }

  .gift-image {
    background:#ffffff;
    padding: 8px;
    border: 1px solid #999999;
    margin-top: 10px;
    margin-right: 10px;
    width: 200px;
  }

  li {
    & + li {
      margin-top: 40px;
      border-top: 1px solid #ddd;
      padding-top: 40px;
    }
  }
}

$mercury_color: rgb(20, 100, 20);
$thermometer_roundness: 12px;

.thermometer {
  position: relative;
  border: 1px solid #aaa;
  width: 350px;
  height: 20px;
  border-radius: $thermometer_roundness;

  .progress {
    position: absolute;
    bottom: 0;
    left: -1px;
    height: 100%;
    border-radius: $thermometer_roundness;
    width: 0;
    background: $mercury_color;

    .amount {
      display: inline-block;
      font-weight: bold;
      bottom: 0;
      position: relative;
      left: -4em;
    }
  }

  .track {
    top: -1px;
    border: 1px solid #aaa;
    position: relative;
    background-position: 0 -1px;
    width: 100%;
    left: 0;
    height: 20px;
    margin: 0 auto;
    background: white;
    background: linear-gradient(to right, #aaa 0%, rgb(255,255,255) 10%);
    background-size: 5% 100%;
    border-radius: $thermometer_roundness;
  }
}

