$night-sky-color: rgb(22, 30, 82);
$night-grass-color: rgb(22, 41, 28);
$day-sky-color: rgb(97, 203, 255);
$sunset-sky-color: rgb(227, 214, 87);

section {
  min-height: 400px;
}

#intro {
  height: 800px;
  background-color: $night-grass-color;
  .sky {
    background: $night-sky-color url("intro/mountains.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 450px; // height of sky
  }
  .scenery {
    position: absolute;
  }
  .foreground {
    .bush {
      top: 600px;
      left: 1050px;
      z-index: 40;
      height: 130px;
    }
  }
  .midground {
    .tent {
      top: 400px;
      left: 900px;
      z-index: 30;
    }
    .fire {
      top: 400px;
      left: 220px;
      z-index: 30;
    }
    .bush-front {
      left: -120px;
      top: 430px;
      z-index: 30;
      height: 105px;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
    .bush-back {
      left: -50px;
      top: 380px;
      z-index: 20;
      height: 110px;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
      filter: blur(2px);
      // Browser Specific
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: brightness(0.5);
      // Browser Specific
      -webkit-filter: brightness(0.5);
      -moz-filter: brightness(0.5);
      -o-filter: brightness(0.5);
      -ms-filter: brightness(0.5);
    }
  }
  .background {
    .bush {
      top: 390px;
      left: 1130px;
      z-index: 10;
      height: 70px;
    }
    filter: blur(2px);
    // Browser Specific
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: brightness(0.5);
    // Browser Specific
    -webkit-filter: brightness(0.5);
    -moz-filter: brightness(0.5);
    -o-filter: brightness(0.5);
    -ms-filter: brightness(0.5);
  }
  .container {
    z-index: 100;
    top: -300px; // vertical position of nav
    position: relative; // floats the nav above mountains
  }
}

#story {
  background-color: lighten($night-grass-color, 50%);
}

#location {
  background-color: $day-sky-color;
}

#rsvp {
  background-color: $night-grass-color;
}

#registry {
  background-color: $sunset-sky-color;
}
