@import "variables";

body.pages {
  color: #fff;
  font-family: $page-text-font;
  overflow-x: hidden;
  letter-spacing: 0.1em;

  .btn {
    font-family: $page-text-font;
  }

  h1, h2, h3, h4 {
    font-family: $page-header-font;
    text-align: center;
    font-size: 40px;
  }
}

section {
  min-height: 400px;
  padding-bottom: 80px;
}

#intro {
  height: 800px;
  background-color: $night-grass-color;
  .sky {
    background: $night-sky-color url("intro/mountains.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 450px; // height of sky
  }
  .scenery {
    position: absolute;
  }
  .firefly {
    width: 3px;
    height: 3px;
    background-color: #fff263;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .foreground {
    .bush {
      top: 600px;
      left: 1050px;
      z-index: 40;
      height: 130px;
    }
  }
  .midground {
    .tent {
      top: 400px;
      left: 900px;
      z-index: 30;
    }
    .fire {
      top: 400px;
      left: 220px;
      z-index: 30;
    }
    .bush-front {
      left: -120px;
      top: 430px;
      z-index: 30;
      height: 105px;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
    .bush-back {
      left: -50px;
      top: 380px;
      z-index: 20;
      height: 110px;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
      filter: blur(2px);
      // Browser Specific
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: brightness(0.5);
      // Browser Specific
      -webkit-filter: brightness(0.5);
      -moz-filter: brightness(0.5);
      -o-filter: brightness(0.5);
      -ms-filter: brightness(0.5);
    }
  }
  .background {
    .bush {
      top: 390px;
      left: 1130px;
      z-index: 10;
      height: 70px;
    }
    filter: blur(3px);
    // Browser Specific
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: brightness(0.5);
    // Browser Specific
    -webkit-filter: brightness(0.5);
    -moz-filter: brightness(0.5);
    -o-filter: brightness(0.5);
    -ms-filter: brightness(0.5);
  }
  .container {
    z-index: 100;
    top: -300px; // vertical position of nav
    position: relative; // floats the nav above mountains
  }
}

#story {
  background-color: $day-grass-color;
  min-height: 600px;
  background-color: lighten($night-grass-color, 50%);

  .comsize {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .text_background {
    background-color: lighten($night-grass-color, 50%);
    font-size: 22px;
    line-height: 1.5;
    padding-top: 20px;
  }
}

#location {
  height: 800px;
  background-color: $day-sky-color;
  .scenery {
    position: relative;
  }
  .directions {
    z-index: 20;
    top: -1150px;
  }
  .tree {
    left: 200px;
    top: -500px;
    z-index: 15;
  }
  .fields {
    top: 300px;
    left: 200px;
    z-index: 10;
  }
  .fields-foreground {
    background-color: $day-grass-color;
    height: 400px;
    top: 190px;
    z-index: 5;
  }
  .sign-post {
    background: url("location/sign_post.png") no-repeat;
    background-position: center;
    height: 300px;
    .sign {
      height: 200px;
      text-align: center;
      background: url("location/sign_first_reversed.png") no-repeat;
      background-position: center;
      background-size: contain;
      p:nth-child(1){
        padding-top: 50px;
      }
      a {
        color: white;
      }
    }
  }
}

#rsvp {
  background-color: $night-grass-color;
}

#registry {
  background-color: $sunset-sky-color;
  color: darken($sunset-sky-color, 50%);

  a {
    &, &:link, &:visited, &:active {
      color: darken($sunset-sky-color, 30%);
    }

    &:hover, &:focus {
      color: darken($sunset-sky-color, 40%);
    }
  }
}

span.todd, span.kristen, span.artemus, span.love {
  font-size: 26px;
}

span.todd {
  color: rgb(211, 80, 32);
}

span.kristen {
  color: rgb(0, 97, 97);
}

span.artemus {
  color: rgb(151, 16, 151);
}

span.love {
  color: rgb(230, 44, 79);
}

h2.section-header {
  margin-top: 80px;
  margin-bottom: 40px;
}
