<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kristen and Todd Get Married</title>
    <style type="text/css">
      <%= Rails.application.assets.find_asset('email').to_s.html_safe %>
    </style>
  </head>
  <body>

    <table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
      <tr>
        <td>

          <table id="innerTable" cellpadding="0" cellspacing="0" border="0" align="center">
            <tr>
              <td class="header">
                <h1><%= link_to 'Kristen and Todd Get Married', root_url %></h1>
              </td>
            </tr>
            <tr>
              <td class="content">
                <%= yield %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

  </body>
</html>
